# Node modules
node_modules/

# Environment variables
.env

# Prisma generated client
prisma/dev.db
prisma/.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

/generated/prisma
